<h1 mat-dialog-title>Hi</h1>
<p>What's your name?</p>
<div class="inputs-div" mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput [(ngModel)]="user.firstName">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input matInput [(ngModel)]="user.lastName">
  </mat-form-field>
</div>

<div class="inputs-div" mat-dialog-content>   
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>E-Mail</mat-label>
    <input [(ngModel)]="user.email" matInput>
  </mat-form-field>
</div>

<div class="birth-date-div"> 
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Your Birthday</mat-label>
        <input [(ngModel)]="user.birthDay" matInput [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
</div>

<div class="inputs-div" mat-dialog-content>   
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Street + HouseNo</mat-label>
      <input [(ngModel)]="user.street" matInput>
    </mat-form-field>
</div>

<div class="inputs-div" mat-dialog-content>   
    <mat-form-field class="mrg-16" appearance="outline">
      <mat-label>City</mat-label>
      <input [(ngModel)]="user.city" matInput>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Zip Code</mat-label>
        <input [(ngModel)]="user.zipCode" matInput>
      </mat-form-field>
</div>
<div class="btn-div" mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button [disabled]="user.firstName.length == 0 || user.lastName.length == 0 || user.email.length == 0 || user.city.length == 0" mat-button (click)="save()" cdkFocusInitial>Add</button>
</div>
