
<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
    <div class="logo-div">
      <p>Logo</p>
    </div> 

    <ul>
      <li routerLink="dashboard"><mat-icon>dashboard</mat-icon> Dashboard</li>
      <li routerLink="user"><mat-icon>person_outline</mat-icon>User</li>
    </ul>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button type="button" mat-button (click)="drawer.toggle()" mat-icon-button class="menu-btn">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Simple Crm</span> 
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="router-div">
      <router-outlet></router-outlet>
    </div> 
  </div>
</mat-drawer-container>