
<mat-card>
    <table class="user-table">
        <tr>
            <th>Name</th>
            <th>E-Mail</th>
            <th>City</th>
        </tr>

        <tr>
            <td>jasbdjas</td>
            <td>asfdbadf</td>
            <td>asjdbaj</td>
        </tr> 
        
        <tr>
            <td>jasbdjas</td>
            <td>asfdbadf</td>
            <td>asjdbaj</td>
        </tr>   
    </table>
</mat-card>

<button (click)="openDialog()" matTooltip="Add User" mat-fab color="primary" class="add-user-btn">
    <mat-icon>add</mat-icon>
</button>